{% extends 'customerbase.html' %}
{% block title %}
  {% load crispy_forms_tags %}
  {% endblock %}

{% block content %}
<h2>(Measurements in Inch)</h2>
    <div class="container m-4">
        <div class="row justify-content-center" >
            <div class="col-md-4">
                <div class="card">
                    <form method="POST", action="" enctype="multipart/form-data">

                        {% csrf_token %}

                        {{form|crispy}}

                        <!-- <div class="form-group m-3">
                          <label>Upload Image</label><br>
                          <input required name="image" type="file" class="form-control-file">
                        </div> -->

                        
                            <button type="submit" class="btn btn-success m-3">Submit</button>
                          

                        
                        
                      </form>
                </div>
            </div>
        </div>

    </div>

{% endblock %}